body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
p {
  font-family: "" Open Sans ", sans-serif" !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Zilla Slab", serif;
}
.active {
  color: #ff7f11 !important;
  font-weight: 600;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.links {
  display: flex;
}
.links ul {
  display: flex;
  padding: 0;
  align-items: center;
}
.links li {
  list-style: none;
  line-height: 60px;
  margin: 0 25px;
  font-size: 15px;
  cursor: pointer;
}
.links a {
  color: white;
  text-decoration: none;
}

.rightLinks {
  display: flex;
  justify-content: space-around;
  width: 25%;
}
.button a {
  text-decoration: none;
  color: #fab400;
  border: 1px solid #fab400;
  padding: 10px 20px;
  font-size: 14px;
}
.wrapper {
  background: url(../images/bg1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

nav {
  background: #1a41b5;
  font-family: "Open Sans", sans-serif;
}
a:hover {
  color: #ff7f11 !important;
  opacity: 1;
  transition: 0.4s all;
}
.icon a {
  color: white;
}
.button a:hover {
  opacity: 1;
  transition: 0.3s all;
  background-color: #ff7f11;
  color: white !important;
  border: 1px solid #ff7f11;
}
.wrapperContent {
  width: 60%;
}
.wrapperHeading h1 {
  font-family: "Zilla Slab", serif;
  color: white;
  font-size: 60px;
  line-height: 54px;
}
.wrapperPara p {
  font-size: 16px;
  color: white;
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
  line-height: 20px;
}
.features {
  background: white;
  background-size: cover;
  width: 100%;
  padding: 60px 0;
}
.links i {
  margin-left: 5px;
}
ul.dropDown {
  position: absolute;
  background: white;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 10px;
  width: 200px;
  opacity: 0;
  visibility: hidden;
  padding: 9px 0;
  top: 120%;
  transition: 0.3s all;
  flex-direction: column;
  align-items: flex-start;
}
.dropDown::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ffffff;
  position: absolute;
  top: -5%;
  left: 43%;
  transform: rotate(180deg);
}
.dropDown li {
  line-height: 19px;
  padding: 9px 31px !important;
  margin: 0 0;
  border-bottom: 1px solid #ebebeb;
  width: 100%;
}
.alignDropdown {
  position: relative;
}
.alignDropdown:hover .dropDown {
  opacity: 1;
  visibility: visible;
  top: 100%;
}
ul.dropDown a {
  color: black;
}
.cardRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards {
  height: auto;
  width: 290px;
  margin: 10px 30px;
  background: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 30px;
  box-sizing: border-box;
  text-align: center;
}
.features h2 {
  text-align: center;
  color: black;
  font-size: 24px;
  font-weight: 700;
}
.cards h3 {
  font-size: 18px;
  color: black;
  text-align: center;
}
.cards p {
  font-size: 14px;
  color: black;
  margin-top: 5px;
}
.theme_two_box_img {
  position: relative;
  overflow: hidden;
}
.img_hover img {
  transition: 0.2s all;
  width: 100%;
}
.theme_common_box_two {
  border-radius: 11px;
  overflow: hidden;
  transition: var(--transition);
}
.theme_two_box_content {
  background: #fff;
  padding: 20px 15px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img_hover:hover img {
  transform: scale(1.2);
}
.section_heading_center {
  margin-bottom: 40px;
}
.blog {
  background: url(../images/bg3.png);
  padding: 60px 0;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#owl-demo .item {
  background: #42bdc2;
  padding: 30px 0px;
  margin: 10px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

/* to remove slide effect  css */
.animated {
  -webkit-animation-duration: 0 ms !important;
  animation-duration: 0 ms !important;
  -webkit-animation-fill-mode: both !important;
  animation-fill-mode: both !important;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.wrapperHeading span {
  font-weight: bold;
  color: #fab400;
}
.theme_two_box_content p {
  font-size: 14px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.theme_two_box_content h4 {
  font-size: 20px;
  font-family: "Zilla Slab", serif;
}

.owl-carousel .owl-item img {
  border-radius: 10px;
}
.blogContent p {
  font-family: " Open Sans ", sans-serif;
  font-size: 14px;
  color: white;
}
.blogContent h4 {
  color: white;
  font-size: 20px;
  font-family: "Zilla Slab", serif;
}
h2.blogHeading {
  font-family: "Zilla Slab", serif;
  text-align: center;
  color: white;
  margin-bottom: 60px;
  font-size: 24px;
  font-weight: 500;
}

.destination {
  /* background: url(../images/bg3.png); */

  background-color: #aa5a3c;
    padding: 60px 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.destinationHeading {
  text-align: center;
  font-family: "Zilla Slab", serif;
  color: rgb(235, 235, 235);
  margin-bottom: 60px;
  font-size: 26px;
  font-weight: 500;
}
.destiImg {
  box-sizing: border-box;
  height: 176px;
  overflow: hidden;
}
.text {
  padding: 10px;
  background: white;
  border-radius: 0 0 10px 10px;
}
.text h4 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Zilla Slab", serif;
}
.destiImg img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}
.text p {
  font-size: 14px;
  font-family: " Open Sans ", sans-serif;
}
.destiAlign {
  margin: 25px 0;
}
section.notifications {
  background: #fab400;
  padding: 20px 0;
}
.notiText {
  display: flex;
  align-items: center;
}
.notiText h2 {
  color: #252525;
  font-family: "Zilla Slab", serif;
  font-size: 18px;
  margin: 0;
}
.footer {
  background-color: rgb(34 34 34);
  padding: 50px 0;
}
.footerLinks li {
  list-style: none;
}
.footerLinks a {
  color: white;
  font-family: " Open Sans ", sans-serif;
  text-decoration: none;
}
.footer h4 {
  color: white;
  font-family: "Zilla Slab", serif;
}
.borderRight {
  border-right: 1px solid black;
}
.sticky {
  position: fixed;
  width: 100%;
  opacity: 1;
  transition: 0.4s ease;
  z-index: 999;
}
.buttons {
  margin-top: 40px;
}

.buttons a {
  text-decoration: none;
  color: white;
  border: 1px solid #ff7f11;
  padding: 10px 20px;
  background: #ff7f11;
}
.buttons a:hover {
  color: white;
  border: 1px solid #ff7f11;
  background: transparent;
}
i.fa-solid.fa-bars {
  font-size: 20px;
  color: white;
  cursor: pointer;
  display: none;
}
.hamburgerMenu {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: right;
}
.hamburger a {
  text-decoration: none;
  color: white;
  line-height: 48px;
}
.hamburger li {
  list-style: none;
}
.hamburger ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}
.hamburger {
  background: #1a41b5db;
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  backdrop-filter: blur(10px);
  opacity: 1;
  transition: 0.4s all;
  margin-left: -100%;
}
.showMenu {
  margin-left: 0%;
}
ul.dropCategory {
  display: none;
}
.closeMenu {
  width: 100%;
  text-align: right;
  padding: 20px 20px 0 0;
}
i.fa-solid.fa-close.menu {
  font-size: 30px;
  color: white;
}
@media (max-width: 994px) {
  .links {
    display: none;
  }
  i.fa-solid.fa-bars {
    display: block;
  }
  .icon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: inherit;
  }
  .logo {
    width: 100%;
  }
  .rightLinks {
    justify-content: right;
    width: 100%;
  }
  .header {
    padding: 10px;
  }
  .wrapperContent {
    width: 100%;
  }
  .wrapperHeading h1 {
    font-size: 40px;
    line-height: 37px;
  }
  .wrapperPara p {
    font-size: 14px;
  }
  .forMargin {
    margin: auto;
    margin-bottom: 30px;
  }
  .button {
    display: none;
  }
}

@media (max-width: 425px) {
  .wrapperHeading h1 {
    font-size: 36px;
    line-height: 31px;
  }
  .hamburgerMenu {
    width: 50%;
  }
  .logo img {
    height: 40px;
  }
  .hamburgerMenu {
    width: 100%;
  }
  .hamburgerMenu {
    justify-content: center;
  }
}
@media (max-width: 375px) {
  .hamburgerMenu {
    width: 70%;
  }
}
@media (max-width: 320px) {
  .hamburgerMenu {
    width: 100%;
  }
  .header {
    padding: 10px;
  }
  .logo img {
    height: 30px;
  }
}
